<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Cadastro</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f8f8f8;
        }

        .error-message {
            color: red;
        }
    </style>
</head>
<body>
        <div class="cadastro-container">
            <form action="{{ url_for('cadastro') }}" method="post">
                <div class="input-group">
                    <input type="text" name="username" placeholder="Nome de Usuário">
                </div>
                <div class="input-group">
                    <input type="email" name="email" placeholder="Email">
                </div>
                <div class="input-group">
                    <input type="password" name="password" placeholder="Senha">
                </div>
                <div class="input-group">
                    <input type="password" name="confirm_password" placeholder="Repita a Senha">
                </div>
                {% if error %}
                    <p class="error-message">{{ error }}</p>
                {% endif %}
                <button class="cadastro-button" type="submit">Cadastrar</button>
            </form>
        </div>

</body>
</html>