<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            min-height: 100vh;
            display: flex;
        }

        main-content {
             display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>
</head>
<body>

  <div class="main-content">
      <div class="buttons">
          <a href="/login"><button>Logar</button></a>
          <a href="/cadastro"><button>Cadastre-se</button></a>
      </div>
  </div>

</body>
</html>